* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #222;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: #00bcd4;
}
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #00bcd4;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.logo{
  text-decoration: none;
  color: white;
}

.menu-toggle {
  display: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
